<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="task">Nombre de la tarea</label>
    <input pInputText type="text" id="task" placeholder="Escribe la tarea" formControlName="task" />
  </div>
  <div>
    <label for="is_completed">Estado</label>
    <p-select formControlName="is_completed" [options]="statusTodo" optionLabel="label" appendTo="body"/>
  </div>
  <div class="container-actions">
    <p-button label="Cancelar" severity="secondary" (click)="onCancel()" />
    <p-button label="Guardar" type="submit" [disabled]="todoForm.invalid" />
  </div>
</form>
