<main>
  <p-table
    [value]="_todoStoreService.todo()"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template #header>
      <tr>
        <th>Id</th>
        <th>Tarea</th>
        <th>IsCompleted</th>
        <th>Fecha de creacion</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template #body let-todo>
      <tr>
        <td>{{ todo.id }}</td>
        <td>{{ todo.task }}</td>
        <td>{{ todo.is_completed }}</td>
        <td>{{ todo.created_at * 1000 | date: 'yyyy-MM-dd' }}</td>
        <td>
          <p-button icon="pi pi-pencil" severity="warn" (click)="openEditModal(todo.id)"></p-button>
          <p-button
            (click)="confirmDelete($event, todo.id)"
            icon="pi pi-trash"
            severity="danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog />
  <p-toast />
</main>
